@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,700;1,400&display=swap');

*{
    margin: 0;
}

body {
    background: rgb(113, 147, 191);
    color: black;
    font-family: 'Rokkitt', serif;
}

h1{
    font-size: 50px;
}

/* estilização do cabeçalho da página */
.header{
    background: rgb(37, 74, 194);
    text-align: center;
    padding: 50px; 
}

a{
    color:rgb(19, 17, 17);
    text-decoration:none;
    display: block;
}

.content{
    padding: 20px;
    margin: 20px;
    text-align: center;
}

p{
    padding-bottom: 20px;
}

ion-icon{
    color:rgb(214, 64, 194);
}

ion-icon.instagram{
    color:rgb(214, 64, 194));
}
ion-icon.linkedin{
    color:rgb(214, 64, 194);
}
.links{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 5px;
}